* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Poppins, Roboto, Inter;
}
body {
    background-image: url("https://images.pexels.com/photos/11829357/pexels-photo-11829357.jpeg");
    background-size: cover;
}
header {

}