* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Poppins, Roboto, Inter;
    transition: all 0.25s ease-in-out;
    color: white;
    scroll-behavior: smooth;
    /* border: 1px solid white; */
}
.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    background-color: black;
    /* background-image: url("https://images.pexels.com/photos/3780104/pexels-photo-3780104.png"); */
    background-size: cover;
}
body video {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.25;
    z-index: -1;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 40%;
    height: 10rem;
    z-index: 1;
}
header div {
    gap: 2.5rem;
    padding: 1rem 3rem;
    height: 6rem;
    border-radius: 3rem;
    background-color: rgba(100, 100, 100, 0.25);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 15px inset #777, 0 0 30px black;
}
header a {
    font-size: 2.25rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem; 
    border: 2px solid transparent;
}
header a:hover {
    background-color: rgba(150, 150, 150, 0.25);
    border: 2px solid white;
}
#hero h1 {
    font-size: 8rem;
}
.sections {
    scroll-margin-top: 14rem;
    margin-top: 8rem;
    width: 60%;
}
#hero p {
    margin-top: 1rem;
    font-size: 1.5rem;
    width: 50%;
    color: #ccc;
}
#hero button {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(115, 2, 121);
    border: 2px solid transparent;
    box-shadow: 0 0 10px 1px transparent;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 500;
}
#hero button:hover {
    border: 2px solid white;
    box-shadow: 0 0 10px 1px white;
}
#chooseUs {
    justify-content: flex-start;
}
#collage {
    border-radius: 3rem;
    background-color: rgba(100, 100, 100, 0.25);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 15px inset #777, 0 0 30px black;
    padding: 3rem;
}
#collage, #collage div {
    gap: 2rem;
}
#collage img {
    height: 26rem;
    border-radius: 2rem;
}
#collage div img  {
    height: 12rem;
}
#chooseUsTextArea {
    align-items: flex-start;
    padding: 1rem 3rem;
    
}
.sectionTitle {
    font-size: 6rem;
}
#chooseUsTextArea h2 {
    font-size: 2rem;
    color: #bbb;
}
#internshipCardsHolder, #featuresHolder {
    width: 100%;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 2rem;
}
.internshipCards {
    width: 24rem;
    height: 22rem;
    justify-content: space-evenly;
    border-radius: 3rem;
    background-color: rgba(100, 100, 100, 0.25);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 15px inset #777, 0 0 30px black;
}
.internshipCards h1 {
    font-size: 1.75rem;
}
.internshipCards h1, .internshipCards ul, .internshipCards a {
    width: 90%;
    text-align: center;

}
.internshipCards ul {
    list-style: none;
}
.internshipCards li {
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #ccc;
}
.internshipCards a {
    text-decoration: none;
    padding: 1rem 0rem;
    border-radius: 2rem;
    background-color: rgb(115, 2, 121);
    width: 75%;
    font-weight: 600;
}
#questions {
    margin-top: 4rem;
    width: 85%;
    align-items: flex-start;
}
.question {
    align-items: flex-start;
    text-align: start;
}
.question h1 {
    font-size: 2rem;
}
.question p {
    padding: 1rem;
    color: #ccc;
}